body {
  margin: 0px 15px 0px 15px;
}

.breed-select {
  margin-bottom: 15px;
  margin-top: 10px;
}

.temperament {
  font-weight: bold;
}

.cat-info {
  display: flex;
  gap: 10px ;
  align-items: center;
}

.description {
  background-color:blanchedalmond;
  border: 1px solid black;
  padding: 5px;
}

h2 {
  display: block;
  margin-top: 10px;
}

p {
  display: block;
  margin-bottom: 0px;
}

img {
  display: block;
  height: 100%;
  border: 1px solid black;
}


.is-hidden {
  display: none;
}